<ng-container *ngIf="movies">
    <mat-grid-list cols="5" rowHeight="175px" gutterSize="5px">
        <mat-grid-tile class="poster-container" *ngFor="let movie of movies['results']" [colspan]="1" [rowspan]="2.5" [queryParams]="{title: movie.title}" [routerLink]="[movie.id]">
            <img [src]="getPoster(movie)">
            <mat-grid-tile-footer style="display: block">
                <h3>{{movie.title}}</h3>
                <p>{{movie.release_date | date:'d MMMM y'}}</p>
            </mat-grid-tile-footer>
            <p>
                <span class="w3-badge w3-large w3-padding w3-green badge">{{movie.vote_average * 10}}</span>
            </p>
        </mat-grid-tile>
    </mat-grid-list>
    <loading [detectRoutingOngoing]="true"></loading>
</ng-container>
<app-error [errorState]="errorStateConfig"></app-error>