.poster-container {
    cursor: pointer;
}

img {
    width: 280px;
    transition: transform .1s;
}

img:hover {
    transform: scale(1.01);
}

.badge {
    position: relative;
    bottom: 175px;
    right: 270px;
}