<div class="header-container">
    <h3>Sortera</h3>
    <mat-tab-group (selectedTabChange)="changeFilterOption($event)">
        <mat-tab *ngFor="let filterOption of filterOptions" [label]="filterOption.value">{{filterOption.value}}
        </mat-tab>
    </mat-tab-group>
    <h3>Välj kategori</h3>
    <mat-tab-group (selectedTabChange)="changeMovieCategory($event)">
        <mat-tab *ngFor="let movieCategory of movieCategories" [label]="movieCategory.viewValue">
            {{movieCategory.viewValue}}
        </mat-tab>
    </mat-tab-group>
    <movies-list [movies]="movies$ | async"></movies-list>
</div>